<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "Bloooog", root_path, class:"navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <%= link_to "首頁", root_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "文章列表", posts_path, class:"nav-link" %>
        </li>
        <% if current_user %>
        <li class="nav-item">
          <%= link_to "我的文章", user_posts_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "新增文章", new_post_path, class:"nav-link" %>
        </li>
      </ul>
    </div>
    <form class="form-inline my-2 my-lg-0">
      <span class="btn-outline-success">hi,<%= current_user.email %></span>
      <%= link_to "編輯會員資料", edit_user_registration_path, class:"btn btn-outline-success my-2 my-sm-0" %>
      <%= link_to "登出", destroy_user_session_path, method: :delete, class:"btn btn-outline-success my-2 my-sm-0" %>
    </form>
    <% else %>
    </ul>
  </div>
  <form class="form-inline my-2 my-lg-0">
    <%= link_to "註冊", new_user_registration_path, class:"btn btn-outline-success my-2 my-sm-0" %>
    <%= link_to "登入", new_user_session_path, class:"btn btn-outline-success my-2 my-sm-0" %>
  </form>
  <% end %>
  </ul>
  </div>
</nav>